Data_collection/main_data/SA_Apple_iPhone.xlsx
Data_collection/main_data/apple_raw_reivew.csv
Data_collection/main_data/Modified_Apple_iPhones_with_all_columns_end.xlsx
Data_collection/main_data/processed_data.csv
